.cv{
    display: flex;
}
.p1{
    padding-left: 2%;
    padding-right: 10%;
    background-color: #a2a2a2;
}
#p2{
    background-color: white;
    /*background-color: brown;*/
    padding-left: 2%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;                                                                                                                                
    letter-spacing: normal;
    padding: auto;
    margin-left: 2%;
    margin-right: 2%;
}
html{
    text-align: left;
    background-color: white;
}
.reseau{
    display: flex;
    gap: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
    .cv{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        padding: 5%;
        margin: 0;
        gap: 5%;
    }
   
}
